<!DOCTYPE html>
<html lnag="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Update</title>
    <link rel="stylesheet" href="/stylesheets/book.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body>

    <% if(sess != null) { %>
        <div class="main-book">
            <div class="main-wrap"></div>
            <header>
                <div class="title-book">
                    <h1> Book Update </h1>
                </div>
            </header>

            <!-- 책 정보 -->
            <form method="post" action="/book/bookUpdate/<%= book_info[0].book_id %>">
                <% for(let book of book_info){ %>
                <section class="book-wrap">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                      </div>

                    <div>
                        <h3>책 번호</h3>
                        <div class="book-input">
                            <input name="book_id" type="text" value="<%= book.book_id %>" />
                        </div>

                        <h3>제목</h3>
                        <div class="book-input">
                            <input name="book_title" type="text" value="<%= book.book_title %>" >
                        </div>

                        <h3>작가</h3>
                        <div class="book-input">
                            <input name="book_writer" type="text" value="<%= book.book_writer %>">
                        </div>

                        <h3>출판사</h3>
                        <div class="book-input">
                            <input name="book_publisher" type="text" value="<%= book.book_publisher %>" >
                        </div>

                        <h3>가격</h3>
                        <div class="book-input">
                            <input name="book_price" type="text" value="<%= book.book_price %>" >
                        </div>
                        
                        <h3>재고량</h3>
                        <div class="book-input">
                            <input name="book_stock" type="text" value="<%= book.book_stock %>">
                        </div>
                    </div>
                    <% } %>
                    <div>
                        <div class="book-btn-wrap">
                            <button type="submit" name="book_btn">수정하기</button>
                        </div>
                    </div>
                </section>
            </form>
            <footer>
                <div class="copyright-wrap" style="font-size: 12px;" >
                    <span>이용약관 | 개인정보처리방침 | 책임의 한계와 고지 | 회원정보 고객센터</span>
                    <div>© 예Zl문go Corp.</div>
                </div>
            </footer>
        </div>
    <% } %>
</body>
</html>